/* Shades of Primary */
$primary-4:#83d663;
$primary:#42a842;
$primary-2:#1e733c;
$primary-1:#115439;
$primary-0:#093033;

/* Shades of Secondary */
$secondary-4:#336082;
$secondary:#1c426b;
$secondary-2:#102a52;
$secondary-1:#08153b;
$secondary-0:#020521;

/* Shades of Secondary */
$tertiary-4:#dfe6aa;
$tertiary:#b8b57d;
$tertiary-2:#9e9568;
$tertiary-1:#7d6f4b;
$tertiary-0:#574733;

/* Shades of Secondary */
$grey-4:#443f4d;
$grey:#322b38;
$grey-2:#241c29;
$grey-1:#170f1a;
$grey-0:#0c060d;

$bg: $secondary-0;
$text-color: $tertiary-4;